body {
  background-color: green;
}

#car {
  position: absolute;
}

.driver-seat {
  height: 12rem;
  width: 12rem;
}

.driver-seat.north {
  transform: rotate(270deg);
}

.driver-seat.east {
  transform: rotate(0);
}

.driver-seat.south {
  transform: rotate(90deg);
}

.driver-seat.west {
  transform: rotate(180deg);
}
